// Custom navbar styling

header {
  .btn-outline-success {
    color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

/* Menu bar */
.mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}
